.box_exames table {
    display: block;
}

.menu_patient{
    justify-content: right;

    margin-left: 4em;
}

.log_biotech img{
    padding: 2em;

    height: 159px;
    width: 217px;
}

.log_biotech{
    background-image: linear-gradient(#3B621E, #0e0e0e);
}

.options_menu{
    font: 15px fonte-300, sans-serif;
    background-image: linear-gradient(#3B621E, #0e0e0e);

    height: 30.9em;
}

.exams{
    display: flex;
    flex-direction: row;

    color: #fff;
    font: 18px fonte-300, sans-serif;
    background-color: rgba(255, 255, 255, 0.3);

    padding: 0px 0px 0px 0px;
    margin-top: 5px;
}

.exams hr{
    border: 3px solid #99FF33;

    width: 0.2px;
    height: 43px;

    margin: 0px;
}

.exams span{
    padding: 12px 0px 12px 15px;
}

.appointment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #fff;
    font: 18px fonte-300, sans-serif;
    background-color: #99FF33;

    padding: 12px 0px 12px 20px;
    margin-top: 5px;
}

.appointment svg{
    padding: 0px 20px 0px 0px;
}

.button_exist{
    text-align: right;

    margin-top: 21em;
}

.button_exist button{
    color: #fff;
    font: 18px fonte-100, sans-serif;
    text-decoration: underline;
    background-color: transparent;

    border: transparent;
}