@font-face {
    font-family: fonte-50;
    src: url('../assets/fonts/Montserrat-Light.woff');
}

@font-face {
    font-family: fonte-100;
    src: url('../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: fonte-200;
    src: url('../assets/fonts/Montserrat-Medium.woff');
}

@font-face {
    font-family: fonte-300;
    src: url('../assets/fonts/Montserrat-SemiBold.woff');
}

@font-face {
    font-family: fonte-400;
    src: url('../assets/fonts/Montserrat-Bold.woff');
}



*{
    color: #fff;
    margin: 0px;
    box-sizing: border-box;
}

.avisos{
    color: #76c33c;
    font: 1em fonte-300;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.test{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-image: url(../assets/images/back_biotech.png);
    background-size: 100%; 
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;
}


.box_form{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;

    padding-left: 28em;
}

.titulo_form{
    color: #76c33c;
    font: 2em fonte-300;
    text-align: center;
    padding-bottom: 10px;
}

.subtitulo_form{
    font: 1.5em fonte-50;
    text-align: center;
}

.esp_exame{
    margin: 3em 0px 0px 0em;
    text-align: center;
}

.esp_exame select{
    background-color: #373737;
    border: none;
    font: 1em fonte-100;
    color: white;
    padding: 15px 15px 15px 60px;
    width: 25em;
    background-image: url(../assets/images/Email.png);
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

.data_exame{
    margin: 1em 0px 0px 0em;
    text-align: center;
}

.data_exame input{
    background-color: #373737;
    border: none;
    font: 1em fonte-100;
    color: white;
    padding: 15px 15px 15px 60px;
    width: 25em;
    background-image: url(../assets/images/calendar.png);
    background-size: 30px;
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

.nome_usu{
    margin: 1em 0px 0px 0em;
    text-align: center;
}

.nome_usu input{
    background-color: #373737;
    border: none;
    font: 1em fonte-100;
    color: white;
    padding: 15px 10px 15px 60px;
    width: 25em;
    background-image: url(../assets/images/Usuario-2.png);
    background-size: 30px;
    background-position: 15px 10px;
    background-repeat: no-repeat;
}


.url_pdf{
    margin: 1em 0px 0px 0em;
    text-align: center;
}

.url_pdf input{
    background-color: #373737;
    border: none;
    font: 1em fonte-100;
    color: white;
    padding: 15px 40px 15px 60px;
    width: 25em;
    background-image: url(../assets/images/pdf_form.png);
    background-size: 30px;
    background-position: 15px 10px;
    background-repeat: no-repeat;
}

.botao_form{
    text-align: center;
    padding-top: 2em;
}

.botao_form button{
    color: white;
    padding: 10px 60px;
    font: 20px fonte-300;
    border-width: 2px;
    border-style: solid;
    background-color: #1f1f1f;
    border-color: #76c33c;
    border-radius: 60px;
}

.botao_form button:hover{
    cursor: pointer;
}








.menu_patient{
    justify-content: right;

    margin-left: 4em;
    width: 16em;
}

.log_biotech img{
    padding: 2em;

    height: 179px;
    width: 227px;
}

.log_biotech{
    background-color: #1e1e1e;
}

.options_menu{
    font: 15px fonte-300, sans-serif;
    background-color: #1e1e1e;

    height: 34em;
    padding-top: 2em;
}

.exist_exams{
    display: flex;
    flex-direction: row;
    
    background-color: rgba(255, 255, 255, 0.3);
}

.exist_exams a{
    color: #fff;
    text-decoration: none;
}

.exist_exams button{
    font: 18px fonte-300, sans-serif;
    background-color: transparent;

    border: transparent;
}

.exist_exams hr{
    border: 3px solid #76C33C;

    width: 0.2px;
    height: 43px;

    margin: 0px;
}

.exist_exams span{
    padding: 12px 12px 0px 12px;
}

.calendar{
    display: flex;
    flex-direction: row;
    
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 0.5em;
}

.calendar a{
    color: #fff;
    text-decoration: none;
}

.calendar button{
    font: 18px fonte-300, sans-serif;
    background-color: transparent;

    border: transparent;
}

.calendar hr{
    border: 3px solid #76C33C;

    width: 0.2px;
    height: 43px;

    margin: 0px;
}

.calendar span{
    padding: 12px 12px 0px 12px;
}

.new_appointiment{
    color: #fff;
    display: flex;
    flex-direction: row;
    
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 0.5em;
}

.new_appointiment a{
    color: #fff;
    text-decoration: none;
}

.new_appointiment button{
    font: 18px fonte-300, sans-serif;
    background-color: transparent;

    border: transparent;
}

.new_appointiment hr{
    border: 3px solid #76C33C;

    width: 0.2px;
    height: 43px;

    margin: 0px;
}

.new_appointiment span{
    padding: 12px 12px 0px 18px;
}


.button_exist{
    color: #fff;
    text-align: right;

    margin-top: 20em;
    margin-right: 1em;
}

.button_exist a{
    color: #fff;
}

.button_exist button{
    color: #fff;
    font: 18px fonte-100, sans-serif;
    text-decoration: underline;
    background-color: transparent;

    border: transparent;
}