<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/consultas.css">
    <title>Consulta_usuario</title>
</head>
<body>
    <div class="container_patient">

        <div class="box_calendar">
            <div class="title_calendar">Consulte e marque suas consultas</div>
            <div class="calendar">
                <div class="days_week">
                    <div class="sunday">Dom</div>
                    <div class="monday">Seg</div>
                    <div class="tuesday">Ter</div>
                    <div class="wednesday">Qua</div>
                    <div class="thursday">Qui</div>
                    <div class="friday">Sex</div>
                    <div class="saturday">Sab</div>
                </div>

                <div class="days_month">
                    <div class="one">1</div>
                    <div class="two">2</div>
                    <div class="three">3</div>
                    <div class="four">4</div>
                    <div class="five">5</div>
                    <div class="six">6</div>
                    <div class="seven">7</div>
                    <div class="eigth">8</div>
                    <div class="nine">9</div>
                    <div class="ten">10</div>
                    <div class="eleven">11</div>
                    <div class="twelve">12</div>
                    <div class="thirteen">13</div>
                    <div class="fourteen">14</div>
                    <div class="fifteen">15</div>
                    <div class="sixteen">16</div>
                    <div class="seventeen">17</div>
                    <div class="eighteen">18</div>
                    <div class="nineteen">19</div>
                    <div class="twenty">20</div>
                    <div class="twenty-one">21</div>
                    <div class="twenty-two">22</div>
                    <div class="twenty-three">23</div>
                    <div class="twenty-four">24</div>
                    <div class="twenty-five">25</div>
                    <div class="twenty-six">26</div>
                    <div class="twenty-seven">27</div>
                    <div class="twenty-eight">28</div>
                    <div class="twenty-nine">29</div>
                    <div class="thirty">30</div>
                    <div class="thirty-one">31</div>
                </div>
            </div>
        </div>

        <div class="menu_patient">
            <div class="log_biotech"><img src="../static/assets/images/logo_biotech_small.png" alt=""></div>

            <div class="options_menu">
                <div class="exams">Exames</div>
                <div class="appointment">Consultas</div>

                <div class="button_exist">Sair</div>
            </div>
        </div>
    </div>
</body>
</html>