<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/consultas.css">
    <title>Consulta_usuario</title>
</head>
<body>
    <div class="container_patient">

        <div class="box_calendar">
            <div class="title_calendar">Consulte e marque suas consultas</div>
            <div class="calendar">
                <div class="days_week">
                    <div class="sunday"><b>Dom</b></div>
                    <div class="monday"><b>Seg</b></div>
                    <div class="tuesday"><b>Ter</b></div>
                    <div class="wednesday"><b>Qua</b></div>
                    <div class="thursday"><b>Qui</b></div>
                    <div class="friday"><b>Sex</b></div>
                    <div class="saturday"><b>Sab</b></div>
                </div>

                <div class="days_month">
                    <div class="one"><button>1</button></div>
                    <div class="two"><button>2</button></div>
                    <div class="three"><button>3</button></div>
                    <div class="four"><button>4</button></div>
                    <div class="five"><button>5</button></div>
                    <div class="six"><button>6</button></div>
                    <div class="seven"><button>7</button></div>
                    <div class="eigth"><button>8</button></div>
                    <div class="nine"><button>9</button></div>
                    <div class="ten"><button>10</button></div>
                    <div class="eleven"><button>11</button></div>
                    <div class="twelve"><button>12</button></div>
                    <div class="thirteen"><button>13</button></div>
                    <div class="fourteen"><button>14</button></div>
                    <div class="fifteen"><button>15</button></div>
                    <div class="sixteen"><button>16</button></div>
                    <div class="seventeen"><button>17</button></div>
                    <div class="eighteen"><button>18</button></div>
                    <div class="nineteen"><button>19</button></div>
                    <div class="twenty"><button>20</button></div>
                    <div class="twenty-one"><button>21</button></div>
                    <div class="twenty-two"><button>22</button></div>
                    <div class="twenty-three"><button>23</button></div>
                    <div class="twenty-four"><button>24</button></div>
                    <div class="twenty-five"><button>25</button></div>
                    <div class="twenty-six"><button>26</button></div>
                    <div class="twenty-seven"><button>27</button></div>
                    <div class="twenty-eight"><button>28</button></div>
                    <div class="twenty-nine"><button>29</button></div>
                    <div class="thirty"><button>30</button></div>
                    <div class="thirty-one"><button>31</button></div>
                </div>
            </div>
        </div>

        <div class="menu_patient">
            <div class="log_biotech"><img src="../static/assets/images/logo_biotech_small.png" alt=""></div>

            <div class="options_menu">
                <div class="exams"><hr><span class="text"><button><a href="../templates/exames.html">Exames</a></button></span></div>
                <div class="appointment">Consultas <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" color="#fff" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 20px; width: 20px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path></svg></div>

                <div class="button_exist"><button>Sair</button></div>
            </div>
        </div>
    </div>
</body>
</html>