<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/exames.css">
    <title>Exames_patient
    </title>
</head>
<body>
    <div class="container_exames_patient">
        

        
        <div class="box_exames">
            <div class="tit_exames"><hr><b>Exames</b></div>
            <table>
                <thead>
                    <tr class="column">
                        <td class="column_id">ID</td>
                        <td class="column_name">Nome</td>
                        <td class="column_type">Tipo do exame</td>
                        <td class="column_date">Data</td>
                    </tr>
                </thead>

                <tbody>
                    <tr class="line_1">
                        <td class="line_id">1</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>

                    <tr class="line_2">
                        <td class="line_id">2</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>

                    <tr class="line_3"> 
                        <td class="line_id">3</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>

                    <tr class="line_4">
                        <td class="line_id">4</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>

                    <tr class="line_5">
                        <td class="line_id">5</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>

                    <tr class="line_6">
                        <td class="line_id">6</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>

                    <tr class="line_7">
                        <td class="line_id">7</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>

                    <tr class="line_8">
                        <td class="line_id">8</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>

                    <tr class="line_9">
                        <td class="line_id">9</td>
                        <td class="line_name">Julia Mendes Costa</td>
                        <td class="line_type">Hemograma</td>
                        <td class="line_date">05/08/2023 <scan class="pdf"><img src="../static/assets/images/pdf_icon.png" alt=""/></scan></td>
                    </tr>   
                </tbody>
            </table>
        </div>

        <div class="menu_patient">
            <div class="log_biotech"><img src="../static/assets/images/logo_biotech_small.png" alt=""></div>

            <div class="options_menu">
                <div class="exams">Exames <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" color="#fff" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 20px; width: 20px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;"><path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path></svg></div>
                <div class="appointment"><hr><span><button><a rel="stylesheet" href="../templates/consultas.html">Consultas</button></span></div>

                <div class="button_exist"><button>Sair</button></div>
            </div>
        </div>
    </div>
</body>
</html>