<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exames_patient
    </title>
</head>
<body>
    <div class="container_exames_patient">
        <div class="box_exames"></div>
        
        <div class="menu_patient">
            <div class="log_biotech"><img src="../static/assets/images/logo_biotech_small.png" alt=""></div>

            <div class="options_menu">
                <div class="exams">Exames</div>
                <div class="appointment">Consultas</div>

                <div class="button_exist">Sair</div>
            </div>
        </div>
    </div>
</body>
</html>