<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title> Login </title>
</head>
<body>
    <div class="container">
        <form action="/cadastro" method="POST">
            <div class="box_login">
                <div class="titulo_log">Log In</div>
                <div class="subtitulo_log">Use seu email para entrar</div>
                <div class="campo_email"><input type="email" id="email" maxlength={32} placeholder="Email" size="40"/></div>
                <div class="campo_senha"><input type="password" id="senha" maxlength={32} placeholder="Senha" size="40" /></div>
                <div class="botao_login"> <button type="submit"> Log In </button></div>
            </div>
        </form>
    </div>
</body>
</html>