<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/novo_exame.css">
    <title> Formulário Exames </title>
</head>
<body>
    <div class="container">
        <form action="/formulario" method="POST">
            <div class="box_form">
                <div class="titulo_form">Entrada de exames</div>
                <div class="subtitulo_form">Preencher todos os campos</div>
                <div class="esp_exame">
                    <select name="especialidade">
                        <option value="esp" selected>Clínica</option>
                        <option value="esp">Ginicologia</option>
                        <option value="esp">Oftalmologia</option>
                    </select>
                </div>
                <div class="data_exame"><input type="date" id="datemax" name="datemax" placeholder="" max="2023-12-01"/></div>
                <div class="nome_usu"><input type="text" name = 'name_usu' id="usu" maxlength={32} placeholder="Nome do Usuário" size="40"/></div>
                <div class="url_pdf"><input type="url" id="homepage" name="homepage"/></div>
                <div class="botao_form"> <button type="submit"> Confirmar </button></div>
            </div>
        </form>
    </div>
</body>
</html>